
body{
    
    font-family: 'Lato', sans-serif;

}
/* <style>
        h1{
            color: #272727;
font-family: Lato;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
        }
        button{
            padding: 20px 43px;
        }
        image{
            width: 635px;
            padding-top: 50px;
height: 800px;
flex-shrink: 0;
        }
        background-color{
            background: 

        }
        

        p{
            color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
</style> */

header{
    /* background-color: saddlebrown; */
}
.header{
    background-color: rgba(229, 84, 115, 0.10);
    /* gap: 100; */

    
}
.title{
    color: #272727;
font-size: 80px;
font-style: normal;
font-weight: 800;
line-height: normal;
width: 700px;
}
.details{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 634px;
}
.head-container{
        display: flex;
        align-items: center;
        padding: 0px 240px;
        justify-content: space-between;
        /* gap: 90px; */
    }
.btn-primary{
    padding: 20px 43px;
    
font-size: 20px;
font-weight: 700;
line-height: normal; 
display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #fff;
}

.profile-img{
    width: 600px;
    padding-top: 50px;
}
.Featured-section{
    text-align: center;
}
.Featured-head{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;

}
.featured-details{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.fea-container{
    
    /* background: rgba(167, 33, 98, 0.15); */

width: 464px;
height: 538px;
/* align-items: center; */
/* justify-content: space-between; */
padding: ;
/* flex-shrink: 0;       */
}
.fea-flowers{
     width: 1440px;
 height: 605px; 
/* flex-shrink: 0; */
margin-left: 300px;
/* margin-right: 300px;  */

display:flex;
justify-content: space-between;
align-items: center;
}
.img-clas-fea{
    width: 310px;
height: 428px;
padding: 110px 78px 0px 76px;
}
.fea-details{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px; /* 145.833% */
text-decoration-line: underline;
}
#bg-flower{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}
#bg-color{border-radius: 300px 300px 0px 0px;
    
    background: rgba(5, 151, 160, 0.15);
}
#bg-flower-color{border-radius: 300px 300px 0px 0px;
    
    background: rgba(71, 125, 17, 0.15);
}
.service{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 130px 240px;
display: flex;
padding:  85px 175px;
/* align-items: center; */
/* gap: 100px; */
justify-content: space-between;
}
.service-container{
    align-items: center;
    /* justify-content: space-between; */
    
}

.service-details{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px; /* 145.833% */
}
.hot-deal{

    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
/* justify-content: space-between; */
align-items: center;

/* width: 1922px; */
height: 620px;

}
.deal-head{
    color: #272727;
font-family: Lato;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: center;

}
.deal-details{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
#img-pad{
    padding-left: 200px;
}
#bt-id{
    display: inline-flex;
padding: 20px 43px;
/* align-items: center; */
gap: 10px;
}
.deal-continer{
    align-items: center;
}
.insta{
    /* width: 594px; */
height: 132px;
flex-shrink: 0;
align-items: center;
}
.insta-head{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.insta-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.insta-image{
    justify-content: space-between;
    display: flex;
    padding: 20px 240px;
}
.get-deal{
    /* background-image: url(''); */
    /* width: 1440px; */
    height: 449px;
    flex-shrink: 0;
    margin: 128px 240px;
    background-image: url(Rectangle\ 9.png);
    /* align-items: center; */
    background-repeat: no-repeat;
    border-radius: 8px;
}
.get-head{
    padding-top: 115px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.get-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.get-text{
    width: 700px;
    height: 60px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 8px;
    
}
.imput{
    align-items: center;
    padding-left: 300px;

    /* justify-content: space-between; */
}
.get-contaier{

    align-items: center;
}
footer{
    /* width: 1922px; */
height: 449px;
flex-shrink: 0;
/* align-items: center; */
background-color: #111010;
}
.foot-head{
color: #FFF;
text-align: center;
padding-top: 130px;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.foot-detail{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}

.footy{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}