
body{
    
    font-family: 'Lato', sans-serif;
    width: 1920px;
}
/* header section  */
header{

    
}
.header{
    background-color: rgba(229, 84, 115, 0.10);

}
.title{
    color: #272727;
font-size: 80px;
font-weight: 800;
width: 708px;
}
.detais{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; 
width: 634px;
}
.head-container{
        display: flex;
        align-items: center;
        padding: 0px 240px;
        gap: 100px;
        
    }
.btn-primary{
    padding: 20px 43px;
font-size: 20px;
font-weight: 700; 
display: inline-flex;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
color: #fff;
margin-top: 30px;
}

.profile-img{
    width: 635px;
    height: 800px;
    padding-top: 50px;
}
/* featured scetiion */
.Featured-section{
    width: 594px;
    padding: 178px 663px 0px;
height: 132px;
}
.Featured-head{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;

}
.featured-details{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
width: 594px; 
}
.fea-container{
    width: 464px;
    height: 538px;
}
.fea-flowers{
 height: 605px; 
display:flex;
justify-content: space-between;
align-items: center;
padding: 48px 240px;
}
.img-clas-fea{
    border-radius: 300px 300px 0px 0px;
    height: 430px;
    width: 310px;
    padding: 110px 78px 0px 76px;

}
.fea-details{
margin-top: 32px;
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px; 
text-decoration-line: underline;
}
#bg-flower{
    background: rgba(167, 33, 98, 0.15);

}
#bg-color{
    background: rgba(5, 151, 160, 0.15);
}
#bg-flower-color{
    background: rgba(71, 125, 17, 0.15);
}
        /* service section  */
.service{
    border-radius: 8px;
background: rgba(39, 39, 39, 0.05);
margin: 130px 240px;
display: flex;
padding:  85px 175px;
text-align: center;
justify-content: space-between;
}

.service-details{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-size: 24px;
font-weight: 600;
line-height: 35px; 
} 
        /* hot deal section  */
.hot-deal{

    border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
display: flex;
align-items: center;
text-align: center;
height: 620px;
}
.deal-continer{
padding-left: 400px;
}
.deal-head{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.deal-details{
    color: rgba(39, 39, 39, 0.60);
width: 594px;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
#img-pad{
    padding-left: 200px;
}
.deal-continer{
    align-items: center;
}
span{
    color: #E55473;
}
        /* instagram section  */
.insta-container{
    padding-left: 663px;
    width: 594px; 
}
.insta-head{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
}
.insta-details{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
.insta-image{
    justify-content: space-between;
    display: flex;
    padding: 20px 240px;
    height: 396px;
}
/* buy section  */

.buynow{
    padding: 20px 240px;
}
.buy-container{
    display: flex;
}
.buy-head{
    color: #272727;
font-size: 45px;
font-weight: 900;
text-align: center;
padding-top: 50px
}
            /* get deal section  */
.get-deal{
    height: 449px;
    margin: 128px 240px;
    background-image: url(Rectangle\ 9.png);
    background-repeat: no-repeat;
    border-radius: 8px;
    text-align: center;
}
.get-head{
    padding-top: 115px;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.get-details{
    color: rgba(39, 39, 39, 0.60);
        font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.get-text{
      width: 700px;
    height: 64px;
    background-color: #fff;
     border-radius: 8px; 
     padding-left: 20px;
    }
#bt-id{
    
}

                /* footer section  */
footer{

height: 449px;
background-color: #111010;
}
.foot-head{
color: #FFF;
text-align: center;
padding-top: 130px;
font-size: 48px;
font-weight: 800;
}
.foot-detail{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px; 
width: 625px;
padding-left: 648px;
}

.footy{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}